<div class="sidebar d-flex flex-column flex-shrink-0">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="">
    <img class="logo-ailos" src="assets/icons/ailos-small.png" alt="Logo Ailos">
    <!-- <span>Logo</span> -->
  </a>

  <nav>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li>
        <a href="#" class="nav-link py-3">
          <mat-icon fontIcon="menu"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3">
          <mat-icon fontIcon="search"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3">
          <mat-icon fontIcon="star"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3">
          <mat-icon fontIcon="chat"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3">
          <mat-icon fontIcon="tune"></mat-icon>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3">
          <mat-icon fontIcon="home"></mat-icon>
        </a>
      </li>
    </ul>
  </nav>
</div>
