<header class="header d-flex  flex-wrap justify-content-between p-3 border-bottom">

  <section>
    <h2 class="text-uppercase mb-0">Nova Admissão Cooperado</h2>
    <span class="text-muted">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>
  </section>

  <ul class="nav nav-pills nav-flush flex-row mt-0 text-center align-self-center">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon class="text-primary" fontIcon="notifications"></mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link border rounded-pill">
        <strong class="text-uppercase text-primary">Viacredi</strong>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <mat-icon class="text-primary" fontIcon="person"></mat-icon>
      </a>
    </li>
  </ul>
</header>
