<section class="border bg-white h-100 py-3 px-4 shadow-sm">
  <div class="mb-4">
    <h5 class="mb-0"><strong>Conta Aplicação</strong></h5>
    <span class="text-muted">Cooperativa Viacredi</span>
  </div>

  <div class="d-flex flex-row mb-4">
    <div class="me-4 align-self-center">
      <mat-icon class="text-muted" fontIcon="credit_card"></mat-icon>
    </div>
    <div class="d-flex flex-column">
      <span class="text-muted">Número da Conta</span>
      <strong>{{dadosContaBancaria.numeroConta}}</strong>
    </div>
  </div>

  <div class="d-flex">
    <a class="text-primary text-decoration-none" role="button">
      <strong> Duplicar conta </strong>
    </a>
  </div>
</section>
